{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Modifier le profil</h1>
    </div>
{% endblock %}
{% block body %}
    <h1>Modifier le profil</h1>

    {{ form_start(modificationProfil) }}
    {{ form_widget(modificationProfil) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(modificationProfil) }}
{% endblock %}