{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Nouvelle sortie </h1>
    </div>
{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Add!</button>
    {{ form_end(form) }}
{% endblock %}
