{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>
<div>
    {% for sortie in sorties %}
    <div>
        <a href="{{ path('sortie_details', {'id':sortie.id}) }}" title="details">{{ sortie.nom }} à {{ sortie.lieu.nom }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}