* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #111111;
   color: #ececec;
   font-family: 'Montserrat', sans-serif;
}

main {
   display: flex;
   flex-direction: column;
   width: 94%;
   margin: auto;
   padding-top: 30px;
   padding-bottom: 30px;
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #282828;
   height: 60px;
   color: #5e5e5e;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   height: 100px;
   gap: 20px;
   padding-right: 20px;
}

a {
   color: deeppink;
}

a:active, a:hover {
   color: #ececec;
}

nav a {
   font-size: 1.2em;
}

footer p {
   padding : 20px;
}

.btn {
   background-color: #004982;
   color: #ececec;
   border: none;
   padding: 10px;
   border-radius: 5px;
   font-size: 1.2em;
}

.btn:hover {
   background-color: #13395d;
}

.header-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #282828;
   height: 100px;
}

.logo {
   height: 100px;
}

.title-container {
   background-color: #282828;
   color: #5e5e5e;
   text-align: center;
   border-top: 1px solid #5e5e5e;
   font-size: 0.8em;
   font-weight: 400;
}

.form-super-container {
   display: flex;
   justify-content: center;
}

.form-container {
   display: flex;
   flex-direction: column;
   background-color: #282828;
   border-radius: 5px;
   padding: 30px;
   gap: 20px;
}

.form-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.form-btn {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.form-link {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.profil-super-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: auto;
   background-color: #282828;
   border-radius: 5px;
}

.profil-photo-container {
   width: 40%;
   overflow: hidden;
   padding: 30px;
   margin: auto;
}

.profil-photo-container img {
   width: 100%;
   object-fit: cover;
}

.profil-container {
   width: 60%;
   padding: 30px;
   gap: 20px;
   display: flex;
   flex-direction: column;
}

.new-sortie-new-lieu {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: auto;
   gap: 50px;
}

.precision {
   font-size: 0.8em;
   color: #5e5e5e;
}

.sortie-container {
   display: flex;
   flex-direction: column;
}

.sortie-form-super-container {
   display: flex;
   flex-direction: column;
   background-color: #282828;
   border-radius: 5px;
}

.sortie-form-container {
   display: flex;
   flex-direction: row;
   justify-content: start;
   padding: 20px;
   margin: auto;
   gap: 4%;
}

.filtre-bloc1 {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.filtre-bloc1B {
   display: flex;
   flex-direction: row;
}

.filtre-bloc1A {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap:10px;
}

.bloc1A-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
}

.filtre-bloc2 {
}

.bloc2-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: auto;
   gap: 20px;
}

.filtre-bloc3 {
   display: flex;
   align-items: center;
   justify-content: center;
}








.participant-super-container {
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
   justify-content: space-between;
   margin: auto;
   gap: 10px;
   background-color: #f44336;
}

.participant-container {
   display: flex;
   flex-direction: column;
   gap: 50px;
   background-color: hotpink;
}

.flash-success {
   background-color: #4CAF50;
   color: white;
}

.flash-error {
   background-color: #f44336;
   color: white;
}

.flash-warning {
   background-color: #ff9800;
   color: white;
}
