* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #111111;
   color: #ececec;
   font-family: 'Montserrat', sans-serif;
}

main {
   display: flex;
   flex-direction: column;
   width: 94%;
   margin: 30px auto 100px;
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #282828;
   height: 60px;
   color: #5e5e5e;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   height: 100px;
   gap: 20px;
   padding-right: 20px;
}

a {
   color: #1084ef;
   text-decoration: none;
}

a:active, a:hover {
   color: #ececec;
}

nav a {
   font-size: 1.2em;
}

footer p {
   padding : 20px;
}

.btn {
   background-color: #00569d;
   color: #ececec;
   border: none;
   padding: 10px;
   border-radius: 5px;
   font-size: 1.2em;
}

.btn-little {
   background-color: #00569d;
   color: #ececec;
   border: none;
   padding: 5px;
   border-radius: 5px;
   font-size: 0.9em;
   min-width: 80px;
}

.btn-little a {
   color: #ececec;
}

.btn-little a:hover {
   color: #ececec;
}

.btn:hover, .btn-little:hover {
   background-color: #13395d;
}

.header-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #282828;
   height: 100px;
   gap: 20px;
}

.logo {
   height: 100px;
}

.title-container {
   background-color: #282828;
   color: #5e5e5e;
   text-align: center;
   border-top: 1px solid #5e5e5e;
   font-size: 0.8em;
   font-weight: 400;
}

.high-right {
   display: flex;
   justify-content: flex-end;
   width: 94%;
   margin: 5px auto;
}

.high-right-item {
   display: flex;
   justify-content: flex-end;
}

/***************** FORM ***********************/

.form-super-container {
   display: flex;
   justify-content: center;
}

.form-container {
   display: flex;
   flex-direction: column;
   background-color: #282828;
   border-radius: 5px;
   padding: 30px;
   gap: 20px;
}

.form-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
   width: 100%;
}

.form-btn {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.form-link {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.profil-super-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: auto;
   background-color: #282828;
   border-radius: 5px;
}

.profil-photo-container {
   width: 40%;
   overflow: hidden;
   padding: 30px;
   margin: auto;
}

.profil-photo-container img {
   width: 100%;
   object-fit: cover;
}

.profil-container {
   width: 60%;
   padding: 30px;
   gap: 20px;
   display: flex;
   flex-direction: column;
}

.new-sortie-new-lieu {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: auto;
   gap: 50px;
}

.justify-center {
   justify-content: center;
}

.precision {
   font-size: 0.8em;
   color: #5e5e5e;
}

/***************** MEGA FILTRE ***********************/


.sortie-form-super-container {
   display: flex;
   flex-direction: column;
   background-color: #282828;
   border-radius: 5px;
   margin-bottom: 10px;
}

.sortie-form-container {
   display: flex;
   flex-direction: row;
   justify-content: start;
   padding: 20px;
   margin: auto;
   gap: 4%;
}

.filtre-bloc1 {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.filtre-bloc1B {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.filtre-bloc1A {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap:10px;
}

.bloc1A-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
}

.filtre-bloc2 {
}

.bloc2-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: auto;
   gap: 20px;
}

.filtre-bloc3 {
   display: flex;
   align-items: center;
   justify-content: center;
}

/***************** BOUCLE FOR ***********************/

.participant-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

.participant-item {
   display: flex;
   flex-direction: column;
   width: 300px;
   gap: 10px;
   margin-bottom: 10px;
   background-color: #282828;
   border-radius: 5px;
   padding: 10px;
}

.participant-modif {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.campus-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: #282828;
   border-radius: 5px;
   padding: 20px;
   max-width: 800px;
   gap: 20px;
   margin: auto auto 20px;
}

.list-super-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #282828;
   border-radius: 5px;
   padding: 20px;
   max-width: 800px;
   gap: 20px;
   margin: auto auto 20px;
   min-width: 200px;
   align-items: center;
}

/***************** FLASH ***********************/

.flash-container {
   display: flex;
   justify-content: center;
   margin: auto;
}

.flash-success, .flash-error, .flash-warning{
   background-color: #00569d;
   color: #ececec;
   text-align : center;
   margin-bottom: 20px;
   padding:10px;
   border-radius: 5px;
   max-width: 500px;
}

.flash-error {
   background-color: #f44336;
}

.flash-warning {
   background-color: #ff9800;
}

#titre-sortie {
   text-decoration: none;
}

#logopink {
   display: none;
}

#petiteNav {
   display: none;
}



/***************** MEDIA QUERIES ***********************/

@media screen and (max-width: 1600px) {

   #petiteNav {
      display: flex;
   }

   #grosseNav {
      display: none;
   }
}

@media screen and (max-width: 1100px) {

   nav a {
      font-size: 1em;
   }

}

@media screen and (max-width: 1000px) {

   body {
      background-color: hotpink;
   }

   a {
      color: hotpink;
   }

   .btn, .btn-little {
      background-color: hotpink;
   }

   .btn:hover, .btn-little:hover {
      background-color: #6b2b4a;
   }

   .title-container {
      display: none;
   }

   .header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 160px;
   }

   .high-right {
      display: none;
   }

   #logoblue {
      display: none;
   }

   #logopink {
      display: block;
   }

}

.etat_annulee {
   color: #1084ef;
   width: 90%;
   margin: auto;
}


@media screen and (max-width: 750px) {

   body {
      background-color: #111111;
   }

   a {
      color: #1084ef;
   }

   .btn, .btn-little {
      background-color: #00569d;
   }

   .btn:hover, .btn-little:hover {
      background-color: #13395d;
   }

   .header-container {
      padding: 10px;
      height: 100px;
      gap: 0;
   }

   .nav_mobile {
      visibility: hidden;
      display: none;
   }

   #logoblue {
      display: block;
   }

   #logopink {
      display: none;
   }

}
