{% extends 'base.html.twig' %}

{% block title %}Erreur404{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Erreur 404</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="erreur">
        <h1> Erreur 404</h1>
        <p>Vous êtes perdu !</p>
    </div>
{% endblock %}