{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}
{% block titrepage %}
    <div class="title-container">
        <h1>Erreur </h1>
    </div>
{% endblock %}
{% block body %}
    <div class="erreur">
        <h1> Erreur </h1>
        <p>Y a un truc qui marche pas !</p>
    </div>
{% endblock %}